DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/langlearn"
JWT_ACCESS_SECRET="change-me-access-secret-at-least-32-chars"
JWT_REFRESH_SECRET="change-me-refresh-secret-at-least-32-chars"
NODE_ENV="development"
